<%- include("template/header" , {tituloWeb : 'Página 404' }) %>

    <body>
        <div class="error">
            <h1>
                <%= titulo %>
            </h1>
            <h2>
                <%= description %>
            </h2>
        </div>
    </body>

    </html>