<%- include("template/header", {tituloWeb : 'Infraestructura web rápida, minimalista y flexible para Node.js' }) %>

    <div class="slider">
        <div class="title">
            <h1>Express</h1>
            <h2>Infraestructura web rápida, minimalista y flexible para <span>Node.js</span></h2>
            <div class="command">
                $ npm install express --save
            </div>
        </div>
        <div class="video">
            <iframe width="500" height="290" src="https://www.youtube.com/embed/HxGt_3F0ULg"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>
    <div class="content">
        <div class="title-content">
            <h1>Aplicaciones web</h1>
            <p>Express es una infraestructura de aplicaciones web Node.js mínima y flexible que proporciona un
                conjunto sólido de características para las aplicaciones web y móviles. </p>
        </div>
        <div class="title-content">
            <h1>API</h1>
            <p>Con miles de métodos de programa de utilidad HTTP y middleware a su disposición, la creación de una
                API sólida es rápida y sencilla. </p>
        </div>
        <div class="title-content">
            <h1>Rendimiento</h1>
            <p>Express proporciona una delgada capa de características de aplicación web básicas, que no ocultan las
                características de Node.js que tanto ama y conoce.</p>
        </div>
        <div class="title-content">
            <h1>LoopBack</h1>
            <a href="https://loopback.io/">Desarrolle aplicaciones basadas en modelos con una infraestructura basada
                en Express.</a>
            <a href="https://loopback.io/">Encontrará más información en loopback.io.</a>
        </div>
    </div>

    <%- include("template/footer") %>