<%- include("template/header" , {tituloWeb : 'Página de servicios' }) %>

    <body>
        <div class="services">
            <h1>Mis servicios</h1>
            <h2>
                <%= titulo %>
            </h2>
        </div>
    </body>

    </html>