<div class="footer">
    <div class="info">
        <div class="buttons">
            <button><i class='bx bxl-github'></i>Star</button>
            <button>53.646</button>
        </div>
        <div class="text">
            <a href="">Express</a> es un proyecto de la <a href="">Fundación OpenJS</a>
            <a href=""><i class='bx bx-git-branch'></i>Bifurque el sitio web en GitHub</a>
            Copyright © StrongLoop, Inc. y otros colaboradores de expressjs.com.
        </div>
    </div>
    <div class="liscense">
        Esta obra está bajo una Licencia Creative Commons Atribución-CompartirIgual 3.0 Estados Unidos de América.
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>